<p>Version {{version}}. See:</p>
<ul>
  <li><a href="https://angular.io/tutorial">Tutorial</a></li>
  <li>
    <a href="https://stackblitz.com/angular/njmbbapydpo?file=src%2Fapp%2Fheroes%2Fheroes.component.html">Original</a>
  </li>
  <li><a href="https://angular.io/guide/lifecycle-hooks">Lifecycle</a></li>
  <li><a href="https://angular.io/api/forms/FormsModule">FormsModule</a></li>
  <li><a href="https://angular.io/tutorial/toh-pt6"> Get data from a server </a></li>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals">Template strings</a>
  </li>
  <li> <a href="https://github.com/angular/angular/tree/master/packages/misc/angular-in-memory-web-api">
      angular-in-memory-web-api</a></li>
  <li><a href="https://angular.io/tutorial/toh-pt6#asyncpipe">Async pipe
    </a></li>
</ul>